@use './variables' as variables;

.custom-card {
  border: 2px solid variables.$color-fondo;
  padding: variables.$espaciado-base;
  height: 100%;
  background-color: variables.$color-primario;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
  object-position: center;
}
