@use './variables' as variables;

.formulario-contacto {
  max-width: 600px;
  margin: 0 auto;
  background-color: variables.$color-primario;
  padding: variables.$espaciado-base;
  border-radius: 10px;
  font-family: variables.$fuente-principal;
  color: variables.$color-fondo;
}

.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: variables.$espaciado-base;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-family: variables.$fuente-principal;
}

.btn-formulario {
  background-color: variables.$color-fondo;
  color: variables.$color-texto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-formulario:hover {
  background-color: variables.$color-hover;
}
