@use './variables' as variables;

.terminos {
  padding: 2rem;
  font-size: 1rem;
  line-height: 1.6;
  font-family: variables.$fuente-principal;
  color: variables.$color-texto;

  /* Titulos para Politicas y Terminos  */
  h1,
  h2,
  h3 {
    margin-top: 2rem;
    font-weight: bold;
    color: variables.$color-texto;
  }

  /* Parrafos para Politicas y Terminos  */
  p {
    margin-bottom: 1rem;
  }

  /* Listas para Politicas y Terminos */
  ul {
    margin-left: 1.5rem;
    list-style: disc;
  }
}
