/* Colores-----*/
$color-fondo: #000;
$color-texto: #fff;
$color-primario: #ffffff;
$color-secundario: #c58bb9;
$color-hover: #dddddd;

/* Footer---- */
$color-footer-bg: #000;
$color-footer-texto: #fff;

/* Tipografias---- */
$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Poppins', sans-serif;

$espaciado-base: 20px;
$ancho-maximo: 1200px;

$titulo-grande: 2.5rem;
$subtitulo: 1.5rem;
$texto: 1rem;


